<!DOCTYPE HTML>
<HTML xmlns:th="http://www.thymeleaf.org" lang="en">
<HEAD>
    <TITLE>Manage your meals</TITLE>
    <meta name="keywords" content="diet, menu, meals, food, dietician"/>
    <meta name="author" content="Oliwia Rędzikowska"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta charset="utf-8"/>

    <!-- LINKS -->

    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}"/>
    <script src="https://kit.fontawesome.com/46a8c214cc.js" crossorigin="anonymous"></script>
</HEAD>
<BODY>
<div class="container p-3 my-3" style="text-align:center;">
    <img th:src="@{/images/foodicon.png}">
    <p class="app-name">Meals Manager</p>
    <p>SUCCESS</p>
    <p>You have deleted your Account.</p>
    <p class="app-description">Start planning your meals and <br>get ready for being fit and healthy.</p>
    <a href="/login"><button class="w3-button w3-black" type="submit">Get started</button></a>
    <div class="socials">
        <a href="#"><i class='fab fa-facebook'></i></a>
        <a href="#"><i class='fab fa-instagram'></i></a>
        <a href="#"><i class='fab fa-linkedin'></i></a>
    </div>
</div>
</BODY>
</HTML>