<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <TITLE>Login to Meals Manager. Manage your meals</TITLE>
    <meta name="keywords" content="diet, menu, meals, food, dietician"/>
    <meta name="author" content="Oliwia Rędzikowska"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta charset="utf-8"/>

    <!-- LINKS -->
    <link rel="stylesheet" type="text/css" th:href="@{/styles/forms.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/46a8c214cc.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <a href="http://localhost:8080/"><img th:src="@{/images/foodicon.png}"/></a>
    <div class="container w-50 formula" style="margin-top: 20px; margin-bottom: 20px;">
        <form action="#" th:action="@{/login}" th:object="${user}" method="POST">
            <h1 style="text-align: center; font-family: 'Poppins', sans-serif;">Welcome!</h1>
            <p style="text-align: center;">Please, sign in</p>

            <!-- EMAIL -->
            <div class="form-group mb-3">
                <label style="display: inline-block;" >E-mail:</label>
                <input id="email" type="email" th:field="*{email}" required minlength="5" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon2">
            </div>

            <!-- PASSWORD -->
            <div class="form-group mb-3">
                <label style="display: inline-block;" >Password:</label>
                <input id="psw" type="password" th:field="*{password}" required minlength="4" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
            </div>

            <div class="centralize" style="margin-bottom: 15px;">
                <button type="submit" id="signin-btn" class="btn btn-primary">SIGN IN</button>
            </div>
        </form>
        <p style="text-align: center;">Don't have an account? <a th:href="@{/register}"><b>Sign up now!</b></a></p>
    </div>
</div>
</body>
</html>