@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@1,900&family=Poppins:wght@500&display=swap');

body {
    background-color: rgba(232, 231, 229, 0.87);
}

button {
    background-color: #ffffff00;
    margin-right: auto;
    margin-left: auto;
    border: solid;
    border-color: rgba(0, 0, 0, 0.849);
    border-radius:30px;
    color: #141414;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;}

button:hover {
    background-color: #eef0f293;
}

.navbar {
    background-color: #EEC643 !important;
}

.navbar-brand {
    font-family: 'Overlock', cursive;
}

.navbar-collapse i {
    margin-left: 5px;
}

nav-item a {
    color: #141414;
}

.navbar-nav .nav-item:not(:last-child) {
    border-right: 1px solid #100f0f;
}

/*  BODY  */

.meals-con {
    margin-top: 15px;
}

.meals-con h3 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.list-group-item{
    background-color: #eef0f293 !important;
}

.card-title {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.card-text {
    padding: 10px;
    text-align: left;
    font-size: 18px;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.wrapper:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.wrapper img {
    width: auto;
    height: 100%;
    max-width: 95%;
    max-height: 95%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

/*  SOCIALS   */
.socials {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.socials a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.facebook {background: #3B5998;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.instagram {
    background: #780a43;
    color: white;
}


.socials i:hover {
    color: #bd600f;
}
